header {
  height: auto;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

header img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -50px;
  margin-bottom: -20px;
}

h1 {
  font-family: 'Allura', cursive;
  font-size: 110px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: normal;
  color: #333;
  margin-top: 9px;
}
hr {
  border-style: none;
  border-top: 8px dotted;
  border-color: #777;
  width: 60%;
  margin-bottom: 30px;
}
a{
  font-size: 20px;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 10px;
  border-radius: 6px;
}
p{
  font-size: 20px;
  letter-spacing: 5px;
  color: #333;
  text-decoration: none;
}
strong{
  font-size: 40px;
}
footer
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.ven{
  margin-bottom: 10px;
}
.fecha
{
  display: inline-block;
  margin: 0 10px ;
  max-width: 30%;
  min-height: 200px;
}
.fecha:nth-last-child(odd){
  border-left: 2px solid #777;
  border-right: 2px solid #777;
  padding: 0 10px;
}
